@use "./general.scss";
@use "./header.scss";
/*
==========
containers
==========
*/
.app-container {
  width: 85%;
  margin: 0em auto;
  background-color: antiquewhite;
  border: 1px solid red;
}

.route-container {
  background-color: rgb(246, 246, 239);
  width: 85%;
  margin: 0em auto;
  border: 1px solid black;
}

/*
=========
stories
=========
*/
.story {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.story-link {
  display: flex;
  width: 100%;
}

.gray {
  $metrics: 0.1em 0.2em;
  padding: $metrics;
  border: 1px solid #a0a0a0;
  border-radius: 7px;
  font-size: 0.95rem;
  margin: $metrics;
  color: #828282;
}

.user-info {
  display: flex;
  margin-top: -0.9em;
  .gray {
    font-size: 0.85rem;
    border: none;
    margin: {
      left: 3em;
    }
    color: #828282;
  }
}

.upvote {
  padding: 0.1em 0.1em;
  margin: 0em 0.2em;
  color: #828282;
  font-size: 14px;
}

.favourite-logo {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

/*
=========
comments
=========
*/
.arrow-icon {
  width: 20px;
  height: 15px;
}
